<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="groupbuy.market.plus.infrastructure.dao.GroupBuyTeamDao">

    <resultMap id="dataMap" type="groupbuy.market.plus.infrastructure.dao.po.GroupBuyTeam">
        <id column="id" property="id"/>
        <result column="team_id" property="teamId"/>
        <result column="activity_id" property="activityId"/>
        <result column="source" property="source"/>
        <result column="channel" property="channel"/>
        <result column="original_price" property="originalPrice"/>
        <result column="deduction_price" property="deductionPrice"/>
        <result column="pay_price" property="payPrice"/>
        <result column="target_count" property="targetCount"/>
        <result column="complete_count" property="completeCount"/>
        <result column="lock_count" property="lockCount"/>
        <result column="status" property="status"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="groupbuy.market.plus.infrastructure.dao.po.GroupBuyTeam">
        insert into group_buy_team(
            team_id, activity_id, source, channel, original_price,
            deduction_price, pay_price, target_count, complete_count, lock_count,
            status, start_time, end_time, create_time, update_time
        ) values(
                    #{teamId}, #{activityId}, #{source}, #{channel}, #{originalPrice},
                    #{deductionPrice}, #{payPrice}, #{targetCount}, #{completeCount}, #{lockCount}, 0,
                    #{startTime}, #{endTime}, now(), now()
                )
    </insert>

    <update id="updateLockCount" parameterType="java.lang.String">
        <![CDATA[
        update group_buy_team
        set lock_count = lock_count + 1, update_time= now()
        where team_id = #{teamId} and lock_count < target_count
        ]]>
    </update>

    <select id="getTeamProgress" resultMap="dataMap" parameterType="java.lang.String">
        select target_count, complete_count, lock_count
        from group_buy_team
        where team_id = #{teamId}
    </select>

    <select id="getTeamById" resultMap="dataMap" parameterType="java.lang.String">
        select team_id, activity_id, target_count, complete_count, lock_count,
               status, start_time, end_time
        from group_buy_team
        where team_id = #{teamId}
    </select>

    <update id="updateTeamAddCompleteCount" parameterType="java.lang.String">
        <![CDATA[
        update group_buy_team
        set complete_count = complete_count + 1, update_time= now()
        where team_id = #{teamId} and complete_count < target_count
        ]]>
    </update>

    <update id="updateTeamStatusComplete" parameterType="java.lang.String">
        update group_buy_team
        set status = 1, update_time= now()
        where team_id = #{teamId} and status = 0
    </update>

</mapper>
